@font-face {
  font-family: "Product Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Product-Sans-Regular.ttf"); /* IE9 Compat Modes */
  src: url("./assets/fonts/Product-Sans-Bold.ttf"); /* IE9 Compat Modes */
}

html {
  overflow: hidden;
}

.khwOsk {
  text-align: initial !important;
}
